.button_container {
    display: grid;
    row-gap: 5px;
}

.button {
    background-color: transparent;
    border: 1px solid var(--elems-theme-color);
    color: var(--elems-theme-color);
    width: 100%;
}

.button:hover {
    color: var(--text-theme-color);
}

.active_option {
    border-color: transparent;
    color: var(--text-theme-color);
    background-color: var(--elems-theme-color);
}
