.tasks {
    margin: 20px 0;
    max-height: 251px;
    overflow: auto;
}

.no_tasks_hint {
    font-weight: 700;
    font-size: 23px;
}

@supports selector(::-webkit-scrollbar) {
    .tasks::-webkit-scrollbar {
        width: 20px;
    }

    .tasks::-webkit-scrollbar-thumb {
        border: 6px solid transparent;
        background-color: var(--elems-theme-color);
        background-clip: content-box;
        border-radius: 10px;
    }
}

@supports not selector(::-webkit-scrollbar) {
    @supports (scrollbar-color: auto) {
        .tasks {
            scrollbar-color: var(--elems-theme-color) transparent;
            scrollbar-width: 12px;
        }
    }
}
