.selector,
.selector::picker(select) {
    appearance: base-select;
}

.selector {
    background-color: white;
    padding: 5px 10px 5px 5px;
    font-size: 20px;
    margin-left: auto;
    margin-right: 10px;
    border-radius: 3px;
    border-color: var(--elems-theme-color);
    outline: 2px solid transparent;
    width: 85px;
}

.selector::picker-icon {
    margin-right: 3px;
    color: var(--elems-theme-color);
    transition: 0.4s all;
}

.selector:open::picker-icon {
    rotate: 180deg;
}

.selector::picker(select) {
    border-color: var(--elems-theme-color);
}

.selector:hover,
.selector:focus {
    cursor: pointer;
    outline-color: var(--color-hover);
    outline-offset: -2px;
    transition: outline-color var(--transition-fast);
}
