.task {
    display: flex;
    padding: 15px 0;
    align-items: center;
}

.task:not(:first-of-type) {
    border-top: 1px solid var(--elems-theme-color);
}

.toggle_active_checkbox {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    flex-shrink: 0;
    border: 1px solid var(--elems-theme-color);
    border-radius: 2px;
    background-color: transparent;
    padding: 1px;
    transition: 0.1s background-color;
    background-clip: content-box;
    outline: 2px solid transparent;
    outline-offset: -1px;
    transition:
        var(--transition-fast) outline-color,
        var(--transition-fast) background-color;
}

.toggle_active_checkbox:focus-visible {
    outline-color: var(--elems-theme-color);
}

.toggle_active_checkbox:checked {
    background-color: var(--elems-theme-color);
}

.title {
    overflow: hidden;
    margin-right: 10px;
    text-overflow: ellipsis;
}

.delete_button {
    background-color: rgb(219, 21, 21);
    flex-shrink: 0;
}

.delete_button:hover {
    background-color: rgb(163, 17, 17);
}

.delete_button:disabled {
    background-color: rgb(188, 114, 114);
}
