.wrapper {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 10px 20px;
}

.input {
    padding: 15px;
    border: 1px solid var(--elems-theme-color);
    border-radius: 5px;
    outline: 2px solid transparent;
    font-size: 20px;
}

.input:focus {
    outline-offset: -2px;
    outline-color: var(--color-hover);
    transition: outline-color var(--transition-fast);
}

.button {
    width: 150px;
    grid-column: 2;
    grid-row: 1;
}

.error {
    color: red;
    grid-column: 1 / 2;
}

@media only screen and (max-width: 576px) {
    .wrapper {
        grid-template-columns: 1fr;
        grid-auto-rows: 1fr;
    }

    .button {
        grid-column: auto;
        grid-row: auto;
        width: 100%;
    }

    .input {
        padding: 10px;
        font-size: 18px;
    }
}
